<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-solid fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">


      <div class="navbar-nav">
        <a class="nav-link d-flex align-items-center" aria-current="page" href="/">
          <lord-icon
            src="https://cdn.lordicon.com/ewtxwele.json"
            trigger="hover"
            colors="primary:#121331"
            style="width:25px;height:25px">
          </lord-icon>
          <span class="ms-2">Home</span>
        </a>

        <a class="nav-link d-flex align-items-center" href="/listings">
          <lord-icon
            src="https://cdn.lordicon.com/slkvcfos.json"
            trigger="hover"
            colors="primary:#121331"
            style="width:25px;height:25px">
          </lord-icon>
          <span class="ms-2">Listings</span>
        </a>

        <a class="nav-link d-flex align-items-center" href="/listings/new">
          <lord-icon
            src="https://cdn.lordicon.com/mecwbjnp.json"
            trigger="hover"
            colors="primary:#121331"
            style="width:25px;height:25px">
          </lord-icon>
          <span class="ms-2">Add New</span>
        </a>
      </div>
    </div>
  </div>
</nav>