body{
    background-color: rgb(136, 107, 107);
    font-family: "Plus Jakarta Sans", sans-serif  !important;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.container{
  flex: 1;   
}

.fa-compass{
    color: rgb(110, 38, 38);
    font-size: 2rem;
}
.navbar{
    height: 5rem;
    background-color: white;
}
.nav-link{
 color: #181818 !important;
}


/* crad */
.card{
    border: none !important;
    margin-bottom: 2re;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100%;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400 !important;
}
.listing-link{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: .2;
    background-color: aliceblue;
}


/* foooter */
 .f-info-links a{
    text-decoration: none;
    color: #222222;
 }
 .f-info-socials , .f-info-links{
    width: 100%;
 }
 .f-info-socials {
    margin-right: .5rem;
    font-size: 1.5rem;
 }
 .f-info-brand{
    font-size: 1rem;
 }
 
 .f-info-links a:hover{
    text-decoration: underline;
 }
 .f-info{
   
    text-align: center;
     height: 8rem;
    background-color: gainsboro;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
 }